/* google font  */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-title: "Noto Sans", sans-serif;
  --font-body: "Noto Sans", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-neutral-800);
    color: var(--color-neutral-200);
  }

  a {
    text-decoration-line: underline;
    text-underline-offset: 2px;
  }

  a:active {
    transform: scale(90%);
    opacity: 75%;
  }

  dialog {
    background-color: var(--color-neutral-800);
    color: var(--color-neutral-200);
    border: 1px solid var(--color-neutral-700);
  }
}

@layer components {
  .clickable:hover {
    cursor: pointer;
  }

  .clickable:active {
    transform: scale(90%);
    opacity: 75%;
  }

  .hidden-underline {
    text-decoration-line: none;
  }

  .hidden-underline:hover {
    text-decoration-line: underline;
  }
}
